/* styles/custom.css */

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

/* Scrollbar Styles for Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
}

/* Custom hr Styles */
hr {
  border-top: 1px solid var(--hr-color);
  margin: 0.7rem 0;
}



/* Breadcrumb styles */
.breadcrumb {
  background-color: var(--background-color);
  color: var(--breadcrumb-text-color);
}

/* Custom styles for ag grid */
.ag-theme-alpine {
  --ag-background-color: var(--background-color);
  --ag-header-background-color: var(--table-th-bg-color);
  --ag-header-foreground-color: var(--table-th-text-color);
  --ag-odd-row-background-color: var(--table-row-alt-bg-color);
  --ag-foreground-color: var(--table-td-text-color);
  --ag-border-color: var(--table-border-color);
}

.ag-theme-alpine .ag-cell {
  color: var(--text-color);
}

.ag-row-hover .ag-cell {
}

.ag-theme-alpine .ag-header-cell {
  font-weight: bold;
  color: var(--table-th-text-color);
}

.ag-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ag-cell:hover {
  overflow: visible;
  white-space: normal;
  z-index: 1;
}

.ag-theme-alpine .ag-status-bar {
  background-color: var(--background-color);
  color: var(--text-color);
}

.ag-theme-alpine .ag-status-name-value {
  color: var(--text-color);
}

.ag-theme-alpine .ag-paging-panel {
  color: var(--text-color);
}

.ag-sticky-header .ag-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Custom Dropdown */
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.3rem 1.3rem 0 0.75rem; /* Space for the arrow */
}

.custom-select::after {
  content: "\25BC"; /* Unicode for downward arrow */
  position: absolute;
  top: 50%;
  right: 0.7rem; /* Adjust this value to place the arrow */
  transform: translateY(-50%);
  pointer-events: none; /* Ensures the dropdown remains clickable */
}

.custom-select.up-arrow select {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.custom-select.up-arrow::after {
  content: "\25B2"; /* Unicode for upward arrow */
  padding-bottom: 0.3rem;
}
