/* styles/custom.css */

/* 
 * Custom Scrollbar Styles 
 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

/* Scrollbar Styles for Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
}

/* 
 * Custom hr Styles
 */
hr {
  border-top: 1px solid var(--hr-color);
  margin: 0.7rem 0;
}

/* 
 * Custom styles for ag grid 
 */
 .ag-theme-alpine {
  --ag-background-color: var(--background-color, hsl(210, 30%, 95%)); /* Light wash denim */
  --ag-header-background-color: var(--table-th-bg-color, hsl(210, 30%, 80%)); /* Light blue denim */
  --ag-header-foreground-color: var(--table-th-text-color, hsl(210, 30%, 25%)); /* Dark wash denim */
  --ag-odd-row-background-color: var(--table-row-alt-bg-color, hsl(210, 30%, 90%)); /* Light wash denim */
  --ag-foreground-color: var(--table-td-text-color, hsl(210, 30%, 25%)); /* Dark wash denim */
  --ag-border-color: var(--table-border-color, hsl(210, 20%, 85%)); /* Light grey denim */
  --ag-row-border-color: var(--table-row-divider-color, hsl(210, 20%, 85%)); /* Light grey denim */
  --ag-column-border-color: var(--table-column-divider-color, hsl(210, 20%, 85%)); /* Light grey denim */
}

.ag-theme-alpine .ag-cell {
  color: var(--text-color, hsl(210, 30%, 25%)); /* Dark wash denim */
  border-bottom: 1px solid var(--ag-row-border-color); /* Row bottom border */
  border-right: 1px solid var(--ag-column-border-color); /* Column right border */
}

.ag-row-hover .ag-cell {
  font-weight: bold;
}

.ag-theme-alpine .ag-header-cell {
  font-weight: bold;
  color: var(--ag-foreground-color, hsl(210, 30%, 25%)); /* Dark wash denim */
}

.ag-theme-alpine .ag-status-bar {
  background-color: var(--ag-background-color, hsl(210, 30%, 95%)); /* Light wash denim */
  color: var(--text-color, hsl(210, 30%, 25%)); /* Dark wash denim */
}

.ag-theme-alpine .ag-status-name-value {
  color: var(--text-color, hsl(210, 30%, 25%)); /* Dark wash denim */
}

.ag-theme-alpine .ag-paging-panel {
  color: var(--text-color, hsl(210, 30%, 25%)); /* Dark wash denim */
}


/* 
 * Custom Dropdown Arrows 
 */
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.3rem 1.6rem 0 0.75rem; /* Space for the arrow */
}

.custom-select::after {
  content: "\25BC"; /* Unicode for downward arrow */
  position: absolute;
  top: 50%;
  right: 0.7rem; /* Adjust this value to place the arrow */
  transform: translateY(-50%);
  pointer-events: none; /* Ensures the dropdown remains clickable */
}

.custom-select.up-arrow select {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.custom-select.up-arrow::after {
  content: "\25B2"; /* Unicode for upward arrow */
  padding-bottom: 0.3rem;
}
