/* theme/darkblue.css */
:root {
  /* Main Colors */
  --background-color: #f7f9fa;
  --text-color: #1e2d3a;
  --svg-color: #3d4b59;

  /* Button Colors */
  --button-bg-color: #2b3e50;
  --button-hover-bg-color: #3c5063;
  --button-active-bg-color: #23303e;
  --button-text-color: #ffffff;
  --button-border: 1px solid #3d4b59;

  /* Header Colors */
  --header-bg-color: #2b3e50;
  --header-text-color: #ffffff;

  /* Breadcrumb and Label Colors */
  --breadcrumb-text-color: #7a8c94;
  --label-text-color: #2b3e50;

  /* Dropdown Colors */
  --dropdown-bg-color: #ffffff;
  --dropdown-text-color: #2b3e50;
  --dropdown-border-color: #b0bec5;
  --dropdown-hover-bg-color: #e1f1fa;
  --dropdown-active-bg-color: #b9d5e8;

  /* Grid Item Colors */
  --grid-item-header-color: #3d4b59;
  --grid-item-bg-color: #e1f1fa;
  --grid-item-hover-transform: translateY(-0.3125rem);

  /* Footer Colors */
  --footer-bg-color: #1e2d3a;
  --footer-text-color: #ffffff;

  /* Placeholder Colors */
  --placeholder-bg-color: #f7f9fa;
  --placeholder-border-color: #cfd8dc;
  --placeholder-text-color: #7a8c94;

  /* Table Colors */
  --table-border-color: #cfd8dc;
  --table-th-bg-color: #dfe6e9; /* Lightened table header background color */
  --table-th-text-color: #1e2d3a;
  --table-th-padding: 0.5rem;
  --table-th-td-text-color: #1e2d3a;
  --table-row-alt-bg-color: #e9eef2;

  /* Data Container Text Color */
  --data-text-color: #3d4b59;

  /* <hr/> color */
  --hr-color: #cfd8dc;

  /* Scrollbar Colors */
  --scrollbar-bg-color: #e1e9ed; /* Lightened scrollbar track color */
  --scrollbar-thumb-color: #7a8c94; /* Lightened scrollbar thumb color */
  --scrollbar-thumb-hover-color: #b0bec5;
}
