/* theme/light.css */
:root {
  /* Main Colors */
  --background-color: #ffffff;
  --text-color: #2c2c2c;
  --svg-color: #5a5a5a;

  /* Button Colors */
  --button-bg-color: #a0a0a0;
  --button-hover-bg-color: #b0b0b0;
  --button-active-bg-color: #cccccc;
  --button-text-color: #2c2c2c;
  --button-border: 1px solid #a0a0a0;

  /* Header Colors */
  --header-bg-color: #f7f7f7;
  --header-text-color: #2c2c2c;

  /* Breadcrumb and Label Colors */
  --breadcrumb-text-color: #7a7a7a;
  --label-text-color: #2c2c2c;

  /* Dropdown Colors */
  --dropdown-bg-color: #ffffff;
  --dropdown-text-color: #2c2c2c;
  --dropdown-border-color: #cccccc;
  --dropdown-hover-bg-color: #f2f2f2;
  --dropdown-active-bg-color: #e0e0e0;

  /* Grid Item Colors */
  --grid-item-header-color: #5a5a5a;
  --grid-item-bg-color: #f2f2f2;
  --grid-item-hover-transform: translateY(-0.3125rem);

  /* Footer Colors */
  --footer-bg-color: #e0e0e0;
  --footer-text-color: #2c2c2c;

  /* Placeholder Colors */
  --placeholder-bg-color: #f7f7f7;
  --placeholder-border-color: #cccccc;
  --placeholder-text-color: #7a7a7a;

  /* Table Colors */
  --table-border-color: #dddddd;
  --table-th-bg-color: #f2f2f2;
  --table-th-text-color: #2c2c2c;
  --table-th-padding: 0.5rem;
  --table-th-td-text-color: #2c2c2c;
  --table-row-alt-bg-color: #f7f7f7;

  /* Data Container Text Color */
  --data-text-color: #5a5a5a;

  /* <hr/> color */
  --hr-color: #cccccc;

  /* Scrollbar Colors */
  --scrollbar-bg-color: #e0e0e0;
  --scrollbar-thumb-color: #cccccc;
  --scrollbar-thumb-hover-color: #b0b0b0;
}
